.contiScrollDiv {
	z-index:999999;
	height:100%;
	width:100%;
	overflow:auto; 
}

.configBarraVenditeScrollDiv {
	margin: 0;
	padding: 0;
	height:250px; 
	width: 100%;
	overflow:auto; 
}

.bollaScrollDiv {
	margin: 0;
	padding: 0;
	height:400px; 
	width: 100%;
	overflow:auto; 
}

.bollaScrollDivTall { 
	margin: 0;
	padding: 0;
	height:450px; 
	width: 100%;
	overflow:auto;
}

.bollaScrollDivLarge {
	margin: 0;
	padding: 0;
	height:350px; 
	width: 100%;
	overflow:auto; 
}

.bollaScrollDivContent {
	margin: 0;
	padding: 0;
	height: 200px; 
	width: 100%;
	overflow:auto; 
}

.bollaScrollDivContentMediumTall {
	margin: 0;
	padding: 0;
	height: 280px; 
	width: 100%;
	overflow:auto; 
}

.bollaScrollDivContentTall {
	margin: 0;
	padding: 0;
	height: 350px; 
	width: 610px;
	overflow:auto; 
}

.bollaScrollDivSmall {
	margin: 0;
	padding: 0;
	height:200px; 
	width: 100%;
	overflow:auto; 
}

.bollaScrollDivSmallH {
	margin: 0;
	padding: 0;
	height:200px; 
	width: 100%;
	overflow:scroll; 
}

.bollaScrollDivVerySmall {
	margin: 0;
	padding: 0;
	height:100px; 
	width: 100%;
	overflow:auto; 
}

.bollaScrollSmallerDiv {
	margin: 0;
	padding: 0;
	height:300px; 
	width: 100%;
	overflow:auto; 
}

.bollaScrollMiniDiv {
	margin: 0;
	padding: 0;
	height:150px; 
	width: 900px;
	overflow:auto; 
}

.messaggioDiv {
	margin: 0;
	padding: 10;
	height:400px; 
	width: 620px;
	overflow:auto; 
}

.ellipsis {
	white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    display:block;
}