* {
 margin: 0;
 padding: 0;
}

body {
 padding: 10px;
 font: 14px/normal Tahoma, Arial, Helvetica, sans-serif;
 color: #333;
}

p { margin-bottom: 1em; }

ul.classic {
 list-style: disc;
 margin-bottom: 1em;
 padding-left: 2em;
}

h1,h2,h3 {
 margin-bottom: .5em;
 font-family: Arial, Helvetica, sans-serif;
 line-height: normal;
}

h1 {
 border-bottom: solid 1px #d9d9d9;
 font-weight: normal;
 font-size: 180%;
 text-indent: 5px;
 letter-spacing: -1px;
}

.dropdown-upward {
 margin-top: 400px !important;
}

/* form.css */

form {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

form fieldset {
  clear: both;
  font-size: 100%;
  border-color: #000000;
  border-width: 1px 0 0 0;
  border-style: solid none none none;
  padding: 10px;
  margin: 0 0 0 0;
}

form fieldset legend {
  font-size: 130%;
  font-weight: normal;
  color: #000000;
  margin: 0 0 0 0;
  padding: 0 5px;
}

label {
  font-size: 100%;
}


label u {
  font-style: normal;
  text-decoration: underline;
}

input, select, textarea {
  font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
  font-size: 100%;
  color: #000000;
}

textarea {
  overflow: auto;
}

form div {
  zoom: 1;
  margin: 5px 0 0 0;
  padding: 1px 3px;
}

form div fieldset {
  clear: none;
  margin: 0 0 0 144px;
  padding: 0 5px 5px 5px;
  width: 197px;
}

form div fieldset legend {
  font-size: 100%;
  padding: 0 3px 0 9px;
}

form div.required fieldset legend {
  font-weight: bold;
}

form div label {
  display: block;
  float: left;
  width: 150px;
  padding: 3px 5px;
  margin: 0 0 5px 0;
  text-align: right;
}

form div.optional label, label.optional {
  font-weight: normal;
}

form div.required label, label.required {
  font-weight: bold;
}

form div label.labelCheckbox, form div label.labelRadio {
  float: none;
  display: block;
  width: 200px;
  zoom: 1;
  padding: 0;
  margin: 0 0 5px 142px;
  text-align: left;
}

form div fieldset label.labelCheckbox, form div fieldset label.labelRadio {
  margin: 0 0 5px 0;
  width: 170px;
}


p.error {
  background-color: #ff0000;
  background-image: url(/images/icon_error.gif);
  background-repeat: no-repeat;
  background-position: 3px 3px;
  color: #ffffff;
  padding: 3px 3px 5px 27px;
  border: 1px solid #000000;
  margin: auto 100px;
}

form div.error {
  background-color: #ffffe1;
  background-image: url(/images/required_bg.gif);
  background-repeat: no-repeat;
  background-position: top left;
  color: #666666;
  border: 1px solid #ff0000;
}

form div.error p.error {
  background-image: url(/images/icon_error.gif);
  background-position: top left;
  background-color: transparent;
  border-style: none;
  font-size: 88%;
  font-weight: bold;
  margin: 0 0 0 118px;
  width: 200px;
  color: #ff0000;
}

form div select, form div textarea {
  width: 200px;
  padding: 1px 3px;
  margin: 0 0 0 0;
}

form div input.inputText, form div input.inputPassword {
  width: 200px;
  padding: 1px 3px;
  margin: 0 0 0 0;
}

form div input.inputFile {
  width: 211px;
}

form div select.selectOne, form div select.selectMultiple {
  width: 211px;
  padding: 1px 3px;
}

form div input.inputCheckbox, form div input.inputRadio, input.inputCheckbox, input.inputRadio {
  display: inline;
  height: auto;
  width: auto;
  background-color: transparent;
  padding: 0;
  margin: 0 0 0 140px;
}

form div.submit {
  padding: 0 0 0 146px;
  width:350px; 
}

form div.submit div {
  display: inline;
  float: left;
  text-align: left;
  width: auto;
  padding: 5;
  margin: 0;
}

form div input.inputSubmit, form div input.inputButton, input.inputSubmit, input.inputButton {
  background-color: #cccccc;
  color: #000000;
  width: auto;
  padding: 0 6px;
  margin: 0;
}

form div.submit div input.inputSubmit, form div.submit div input.inputButton {
  float: right;
  margin: 0 0 0 5px;
}

form div small {
  display: block;
  margin: 0 0 5px 142px;
  padding: 1px 3px;
  font-size: 88%;
  zoom: 1;
}*/

/* form.import.css */

label img {
  behavior: url(/behaviors/label_img.htc);
}

form fieldset legend {
  line-height: 150%;
}

form input, form select, form textarea {
  background-color: #ffffff;
}

form textarea.expanding {
  overflow: auto;
  overflow-x: auto;
  overflow-y: visible;
}

div.optional label:before {
  content: '';
}

div.required label:before {
  content: '';
}
  
form div label.labelCheckbox, form div label.labelRadio, label.labelCheckbox, label.labelRadio {
  display: block;
  width: 190px;
  zoom: 1;
  padding: 4px 0 0 18px;
  text-indent: -18px;
  line-height: 120%;
}

form div label.labelCheckbox input.inputCheckbox, form div label.labelRadio input.inputRadio, label.labelCheckbox input.inputCheckbox, label.labelRadio input.inputRadio {
  margin: 0;
}

form div fieldset input.inputText, form div fieldset input.inputPassword, form div fieldset input.inputFile, form div fieldset textarea.inputTextarea {
  width: 160px;
  margin: 0 0 0 18px;
}

form div label.compact {
  display: inline;
  width: auto;
  padding: 4px 10px 0 0;
  text-indent: 0;
  margin: 0 0 0 0;
}

form div.wide label {
  float: none;
  display: block;
}

form div label.wide {
  width: 348px;
}

form div.wide input.inputText, form div.wide input.inputPassword, form div.wide input.inputFile, form div.wide select, form div.wide textarea {
  width: 344px;
  margin: 0;
}

form div.notes p, form div small {
  line-height: 125%;
}

form div.wide small {
  margin: 0 0 5px 0;
}

form span.error {
  color: red;
  font-size:80%;
}


.filterBolla {
  font-size: 90%;
  min-width: 400px; 
  max-width: 800px;
  width: 500px;
  margin-left: auto;    
  margin-right: auto;
}

.filterBollaSmall {
  font-size: 90%;
  min-width: 200px; 
  max-width: 300px;
  width: 300px;
  margin-left: auto;    
  margin-right: auto;
}

.textNormal {
font-size:12px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#808080;
text-decoration:none;
text-align:center;
}

.text {
font-size:12px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#808080;
text-decoration:none;
text-align:center;
}

.text a {
font-size:12px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#808080;
text-decoration:none;
}

.text a:hover {
font-size:12px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#f7941d;
text-decoration:none;
}


.textLinks {
font-size:100%; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
text-align:center;
text-decoration:none;
}

.textLinks a {
font-size:12px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
text-align:center;
text-decoration:none;
align:left;
}

.textLinks a:hover {
font-size:12px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
text-align:center;
text-decoration:none;
align:left;
}

.captchaError {
font-size:11px;
font-weight:bold;  
color:red;
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
text-align:center;
align:left;
}


.textTitle {
font-size:14px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
color:#808080;
text-align:left;
text-decoration:none;
font-weight:bold;
align:left;
vertical-align:top;
}

.footer {
font-size:9px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
color:#808080;
text-align:right;
font-weight:bold;
text-decoration:none;
align:center;
}

.footer a {
color:#999999;
text-decoration:none; 
}

.footer a:hover{
color:#f7941d;
text-decoration:none; 
}

.divScroll {
	height:410px; 
	overflow:auto; 
}

.tableFields {
font-size:14px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#808080;
text-align:left;
text-decoration:none;
align:left;
}

input.tableFields {
	font-size:14px; 
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	font-weight:normal;
	color:#000;
	text-align:left;
	text-decoration:none;
	align:left;
}

.tableFields a {
font-size:14px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#808080;
text-align:left;
text-decoration:none;
align:left;
}

.tableFields a:hover {
font-size:14px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#f7941d;
text-align:left;
text-decoration:none;
align:left;
}


.tableFields_red {
font-size:14px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#780000;
text-align:left;
text-decoration:none;
align:left;
}

input.tableFields_red {
	font-size:14px; 
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	font-weight:normal;
	color:#000;
	text-align:left;
	text-decoration:none;
	align:left;
}

.tableFields_red a {
font-size:14px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#780000;
text-align:left;
text-decoration:none;
align:left;
}

.tableFields_red a:hover {
font-size:14px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#f7941d;
text-align:left;
text-decoration:none;
align:left;
}

.tableFields_blu {
font-size:14px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#3333CC;
text-align:left;
text-decoration:none;
align:left;
}

input.tableFields_blu {
	font-size:14px; 
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	font-weight:normal;
	color:#000;
	text-align:left;
	text-decoration:none;
	align:left;
}

.tableFields_blu a {
font-size:14px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#3333CC;
text-align:left;
text-decoration:none;
align:left;
}

.tableFields_blu a:hover {
font-size:14px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#f7941d;
text-align:left;
text-decoration:none;
align:left;
}


.extremeTableFields {
font-size:11px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#000;
text-align:left;
text-decoration:none;
align:left;
}

.extremeTableFields a {
font-size:11px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#000;
text-align:left;
text-decoration:none;
align:left;
}

.extremeTableFields a:hover {
font-size:11px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#f7941d;
text-align:left;
text-decoration:none;
align:left;
}

.extremeTableFieldsSmaller {
font-size:10px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#000;
text-align:left;
text-decoration:none;
align:left;
}

.extremeTableFieldsSmaller a {
font-size:10px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#000;
text-align:left;
text-decoration:none;
align:left;
}

.extremeTableFieldsSmaller a:hover {
font-size:10px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#f7941d;
text-align:left;
text-decoration:none;
align:left;
}


.extremeTableFieldsSmaller .odd {
	background-color: #FFFFFF;
}

.extremeTableFieldsSmaller .even {
  	background-color: #dfe4e8;
}

.extremeTableFieldsSmaller .highlight td {
	
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
	background-color: #fdecae;
}

.extremeTableFieldsSmaller .highlight a, .highlight a {
	
}

.extremeTableFieldsLarger {
font-size:12px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#000;
text-align:left;
text-decoration:none;
align:left;
}

.extremeTableFieldsLarger a {
font-size:12px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#000;
text-align:left;
text-decoration:none;
align:left;
}

.extremeTableFieldsLarger a:hover {
font-size:12px; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#f7941d;
text-align:left;
text-decoration:none;
align:left;
}

.extremeTableFieldsLargerHighlight td {		
	background-color: #e1ddd9;
	cursor:pointer;cursor:hand;
}

.extremeTableFieldsLargerHighlight a {
}


.extremeTableFieldsVeryLarge {
font-size:130%; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#000;
text-align:left;
text-decoration:none;
align:left;
}

.extremeTableFieldsVeryLarge a {
font-size:130%;  
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#000;
text-align:left;
text-decoration:none;
align:left;
}

.extremeTableFieldsVeryLarge a:hover {
font-size:130%; 
font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
font-weight:normal;
color:#f7941d;
text-align:left;
text-decoration:none;
align:left;
}

.extremeTableFieldsVeryLargeHighlight td {		
	background-color: #e1ddd9;
	cursor:pointer;cursor:hand;
}

.extremeTableFieldsVeryLargeHighlight a {
}




.eXtremeTableFixedLengthFont {
	margin: 0;
	padding: 0;
}

.eXtremeTableFixedLengthFont select {
	font-family: "Courier New";
	font-size: 12px;
	border: solid 1px #EEE;
	width: 75px;
}

.eXtremeTableFixedLengthFont .tableRegion {
	border: 1px solid silver;
	padding: 2px;
	font-family: "Courier New";
	font-size: 12px;
	margin-top: 7px;
}

.eXtremeTableFixedLengthFont .filter {
	background-color: #F4F4F4;
}

.eXtremeTableFixedLengthFont .filter td {
	padding: 2px;
}

.eXtremeTableFixedLengthFont .title {
	color: #444444;
	font-weight: bold;
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	font-size: 15px;
	vertical-align: middle;
}

.eXtremeTableFixedLengthFont .titleRow {
	background-color: #F4F4F4;
}

.eXtremeTableFixedLengthFont .titleRow td {
	border-bottom: 1px solid #308dbb;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;
	text-align: center;
}

.eXtremeTableFixedLengthFont .titleRow span {
	color: #444444;
	font-weight: bold;
	font-size: 12px;
}

.eXtremeTableFixedLengthFont .filter input {
	font-family: "Courier New";
	font-size: 10px;
	border: solid 1px grey;
	padding: 1px;
}

.eXtremeTableFixedLengthFont .filter select {
	font-family: "Courier New";
	font-size: 12px;
	border: solid 1px #EEE;
}

.eXtremeTableFixedLengthFont .tableHeader {
	background-color: #308dbb;
	color: white;
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0px;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}

.eXtremeTableFixedLengthFont .tableHeaderSort {
	background-color: #3a95c2;
	color: white;
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}

.eXtremeTableFixedLengthFont .odd a, .even a {
	
}

.eXtremeTableFixedLengthFont .odd td, .eXtremeTableFixedLengthFont .even td {
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
	font-family: "Courier New";
	
}

.eXtremeTableFixedLengthFont .odd {
	background-color: #FFFFFF;
}

.eXtremeTableFixedLengthFont .even {
  	background-color: #dfe4e8;
}

.eXtremeTableFixedLengthFont .highlight td {
	
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
	background-color: #fdecae;
}

.eXtremeTableFixedLengthFont .highlight a, .highlight a {
	
}

.eXtremeTableFixedLengthFont .compactToolbar {
	background-color: #F4F4F4;
}

.eXtremeTableFixedLengthFont .toolbar {
	background-color: #F4F4F4;
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	font-size: 12px;
	margin-right: 1px;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

.eXtremeTableFixedLengthFont .toolbar a:hover {
	background-color: transparent;
}

.eXtremeTableFixedLengthFont .toolbar td {
	color: #444444;
	padding: 0px 3px 0px 3px;
	text-align:center;
}

.eXtremeTableFixedLengthFont .separator {
	width: 7px;
}

.eXtremeTableFixedLengthFont .statusBar {
	font-size:14px; 
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	color:#808080;
	font-weight:bold;
}

.eXtremeTableFixedLengthFont .filterButtons {
	background-color: #F4F4F4;
	text-align: right;
}

.eXtremeTableFixedLengthFont .title span {
	margin-left: 7px;
}

.eXtremeTableFixedLengthFont .formButtons {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
}

.eXtremeTableFixedLengthFont .formButton {
	cursor: pointer;
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	font-size:10px;
	font-weight: bold;
	background-color: #308dbb;
	color: white;
	margin-top: 5px;
	border: outset 1px #333;
	vertical-align: middle;
}

.eXtremeTableFixedLengthFont .calcRow {
	background-color: #F4F4F4;
}

.eXtremeTableFixedLengthFont .calcTitle {
	background-color: #F4F4F4;
	color: black;
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	font-weight: bold;
	font-size: 10px;
}

.eXtremeTableFixedLengthFont .calcResult {
	background-color: #F4F4F4;
	color: black;
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
}



.eXtremeTable .oddVendite a, .evenVendite a {
	
}

.eXtremeTable .oddVendite td, .eXtremeTable .evenVendite td {
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	vertical-align: middle;
	font-family: verdana, arial, helvetica, sans-serif;
	
}

.eXtremeTable .oddVendite {
	background-color: #FFFFFF;
}

.eXtremeTable .evenVendite {
  	background-color: #dfe4e8;
}

.eXtremeTable .highlightVendite td {	
	background-color: #fdecae;
}

.eXtremeTable .highlightVendite a, .highlightVendite a {
	
}

#newsticker-demo { 
width:210px; 
background:#FFFFFF; 
padding:5px 5px 0; 
font-family:Verdana,Arial,Sans-Serif;
font-size:12px;
margin:20px auto;
}

#newsticker-demo a { text-decoration:none; }
#newsticker-demo img { border: 2px solid #FFFFFF; }

#newsticker-demo .title {
text-align:right;
font-size:14px;
font-weight:bold;
padding:5px;
}

.newsticker-jcarousellite { width:200px; }
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px; }

.clear { clear: both; }


#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--hidden by default--*/
	background: #fff;
	padding: 20px;
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.new_message_popup_block{
	display: none; /*--hidden by default--*/
	width:15%;
	height:30%;
	margin-left:40%;
	z-index:9999999;
	background: #ffcccc;
	padding: 20px;
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor:pointer;
}
	
img.btn_close {
	float: right;
	margin: -57px -37px 0 0;
}

img.btn_close1 {
	float: right;
	margin: -28px -25px 0 0;
}

img.btn_closeScrollable {
	float: right;
	margin: -22px -20px 0 0;
}

/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}


/* Generic context menu styles */
.contextMenu {
	position: absolute;
	width: 120px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextMenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

.contextMenu LI.hover A {
	color: #FFF;
	background-color: #3399FF;
}

.contextMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextMenu LI.hover.disabled A {
	background-color: transparent;
}

.contextMenu LI.separator {
	border-top: solid 1px #CCC;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

.contextMenu LI.edit A { background-image: url(/app_img/edit.jpg); }
.contextMenu LI.cut A { background-image: url(/app_img/cut.png); }
.contextMenu LI.copy A { background-image: url(/app_img/page_white_copy.png); }
.contextMenu LI.paste A { background-image: url(/app_img/page_white_paste.png); }
.contextMenu LI.delete A { background-image: url(/app_img/delete.png); }
.contextMenu LI.quit A { background-image: url(/app_img/door.png); }
.contextMenu LI.insert A { background-image: url(/app_img/insert.gif); }
.contextMenu LI.giacenza A { background-image: url(/app_img/giacenza.png); }
.contextMenu LI.download A { background-image: url(/app_img/download.png); }

.droplinebar{
overflow: hidden;
width: 100%;
color: black;
}

.droplinebar ul{
margin: 0;
padding: 0;
float: left;
width: 100%;
font-family: Arial;
font-weight: bold;
font-size: 12px;
background: #9AD0EF url(/app_img/bluedefault.gif) center center repeat-x; /*default background of menu bar*/
}

.droplinebar ul li{
display: inline;
}

.droplinebar ul li a{
float: left;
color: black;
padding: 7px 5px;
text-decoration: none;
}

.droplinebar ul li a:visited{
color: black;
}

.droplinebar ul li a:hover, .droplinebar ul li .current{ /*background of main menu bar links onMouseover*/
color: #FA7204;
background: url(/app_img/bluedefault.gif) center center repeat-x;
}

/* Sub level menus*/
.droplinebar ul li ul{
position: absolute;
z-index: 9999;
background: url(/app_img/bluedefault.gif) center center repeat-x;
visibility: hidden;
font-size: 100%;
}

/* Sub level menu links style */
.droplinebar ul li ul li a{
padding: 6px;
padding-right: 8px;
margin: 0;
border-bottom: 0px solid navy;
width: 18%;
text-align:center;
}

.droplinebar ul li ul li a:hover{ /*sub menu links' background color onMouseover */
	/*background: #60A3C3 url(/app_img/blueactive.gif) center center repeat-x; */
	color: #FA7204;
}

.eXtremeTable {
	margin: 0;
	padding: 0;
}

.eXtremeTable select {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	border: solid 1px #EEE;
	width: 75px;
}

.eXtremeTable .tableRegion {
	border: 1px solid silver;
	padding: 2px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	margin-top: 7px;
}

.eXtremeTable .filter {
	background-color: #F4F4F4;
}

.eXtremeTable .filter td {
	padding: 2px;
}

.eXtremeTable .title {
	color: #444444;
	font-weight: bold;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 15px;
	vertical-align: middle;
}

.eXtremeTable .titleRow {
	background-color: #F4F4F4;
}

.eXtremeTable .titleRow td {
	border-bottom: 1px solid #308dbb;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;
	text-align: center;
}

.eXtremeTable .titleRow span {
	color: #444444;
	font-weight: bold;
	font-size: 12px;
}

.eXtremeTable .filter input {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	border: solid 1px grey;
	padding: 1px;
}

.eXtremeTable .filter select {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	border: solid 1px #EEE;
}

.eXtremeTable .tableHeader {
	background-color: #68ADCA;
	color: black;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0px;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}

.eXtremeTable .tableHeaderSort {
	background-color: #68ADCA;
	color: black;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}

.eXtremeTable .odd a, .even a {
	
}

.eXtremeTable .odd td, .eXtremeTable .even td {
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
	font-family: verdana, arial, helvetica, sans-serif;
	
}

.eXtremeTable .odd {
	background-color: #FFFFFF;
}

.eXtremeTable .even {
  	background-color: #dfe4e8;
}

.eXtremeTable .highlight td {
	
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
	background-color: #fdecae;
}

.eXtremeTable .highlight a, .highlight a {
	
}

.eXtremeTable .compactToolbar {
	background-color: #F4F4F4;
}

.eXtremeTable .toolbar {
	background-color: #F4F4F4;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 9px;
	margin-right: 1px;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

.eXtremeTable .toolbar a:hover {
	background-color: transparent;
}

.eXtremeTable .toolbar td {
	color: #444444;
	padding: 0px 3px 0px 3px;
	text-align:center;
}

.eXtremeTable .separator {
	width: 7px;
}

.eXtremeTable .statusBar {
	background-color: #F4F4F4;
	font-size:14px; 
	font-family:Arial, Helvetica, sans-serif;
	color:#808080;
	font-weight:bold;
}

.eXtremeTable .filterButtons {
	background-color: #F4F4F4;
	text-align: right;
}

.eXtremeTable .title span {
	margin-left: 7px;
}

.eXtremeTable .formButtons {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
}

.eXtremeTable .formButton {
	cursor: pointer;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:10px;
	font-weight: bold;
	background-color: #308dbb;
	color: white;
	margin-top: 5px;
	border: outset 1px #333;
	vertical-align: middle;
}

.eXtremeTable .calcRow {
	background-color: #F4F4F4;
	height:35px
}

.eXtremeTable .calcTitle {
	background-color: #F4F4F4;
	color: black;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.eXtremeTable .calcTitleRed {
	background-color: #F4F4F4;
	color: red;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.eXtremeTable .calcResult {
	background-color: #F4F4F4;
	color: black;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}


.rc_calendar {
	border: 1px solid #000000;
	z-index:9999999;
}

.rc_iframe_body {
	margin: 0px;
	background: #FFFFFF;
	border: 0px;
	cursor: default;
}

.rc_iframe_body .rc_table {
	font-size: 11px;
	font-family: verdana,tahoma,sans-serif,arial;
}

.rc_iframe_body .rc_wd_tr td {
	border-bottom: 1px solid #000000;
	padding: 2px;
	text-align: center;
	color: #000;
	white-space: nowrap;
}
.rc_iframe_body .rc_time_tr td {
	border-top: 1px solid #000000;
	padding: 2px;
	text-align: center;
	color: #000;
	white-space: nowrap;
}

.rc_iframe_body .rc_head_tr td,
.rc_iframe_body .rc_nav_tr td {
	border-bottom: 1px solid #000000;
	padding: 2px;
	text-align: center;
	color: #000;
	white-space: nowrap;
	font-weight: bold;
}

.rc_iframe_body .rc_cal_tr td {
	border: 1px solid #fff;
	padding: 4px 2px 4px 2px;
	text-align: right;
	color: #000;
	white-space: nowrap;
	width: 20px;
}

.rc_iframe_body .rc_footer_tr td {
	border-top: 1px solid #000000;
	padding: 2px;
	text-align: center;
	color: #000;
	white-space: nowrap;
}

.rc_iframe_body .rc_hours {
	width: 20px;
}

.rc_iframe_body .rc_colon_span {
}

.rc_iframe_body .rc_mins {
	width: 20px;
}

.rc_iframe_body .rc_mins {
	width: 20px;
}

.rc_iframe_body td.rc_current {
	color: #fff;
	background: #00f;
	font-weight: bold;
}

.rc_iframe_body td.rc_today {
	font-weight: bold;
}

.rc_iframe_body td.rc_weekend_head {
	color: #f00;
}

.rc_iframe_body td.rc_weekend_day {
	color: #f00;
}

.rc_iframe_body tr.rc_highlight,
.rc_iframe_body tr.rc_highlight td {
	border: 1px solid #ccccff;
	background: #ccccff;
}

.rc_iframe_body tr.rc_highlight td.rc_highlight {
	background: #e1ddd9;
	border: 1px solid #9999ff;
}

/* alt skin */

.rc_calendar_alt {
	border: 1px solid #000000;
	z-index:999999;
}

.rc_iframe_body_alt {
	margin: 0px;
	background: #CCCCCC;
	border: 0px;
	cursor: default;
}

.rc_iframe_body_alt .rc_table {
	font-size: 12px;
	font-family: verdana,tahoma,sans-serif,arial;
	background: #e1ddd9;
}

.rc_iframe_body_alt .rc_wd_tr td {
	border-bottom: 1px solid #000000;
	padding: 2px;
	text-align: center;
	color: #000;
	white-space: nowrap;
}

.rc_iframe_body_alt .rc_time_tr td {
	border-top: 1px solid #000000;
	padding: 2px;
	text-align: center;
	color: #000;
	white-space: nowrap;
}

.rc_iframe_body_alt .rc_head_tr td,
.rc_iframe_body_alt .rc_nav_tr td {
	border-bottom: 1px solid #000000;
	padding: 2px;
	text-align: center;
	color: #000;
	white-space: nowrap;
	font-weight: bold;
}

.rc_iframe_body_alt .rc_cal_tr td {
	border: 1px solid #0f0;
	padding: 1px 0px 1px 0px;
	text-align: right;
	color: #000;
	white-space: nowrap;
	width: 20px;
}

.rc_iframe_body_alt .rc_footer_tr td {
	border-top: 1px solid #000000;
	padding: 2px;
	text-align: center;
	color: #000;
	white-space: nowrap;
}

.rc_iframe_body_alt .rc_hours {
	width: 10px;
	background: #66ff66;
	border: 1px solid #000;
}

.rc_iframe_body_alt .rc_colon_span {
}

.rc_iframe_body_alt .rc_mins {
	width: 10px;
	background: #66ff66;
	border: 1px solid #000;
}

.rc_iframe_body_alt td.rc_current,
.rc_iframe_body_alt tr.rc_highlight td.rc_current {
	border: 1px solid #fff;
	color: #00f;
	background: #fff;
	font-weight: bold;
}

.rc_iframe_body_alt td.rc_today {
	font-weight: bold;
}

.rc_iframe_body_alt td.rc_weekend_head {
	color: #f00;
}

.rc_iframe_body_alt td.rc_weekend_day {
	color: #f00;
}

.rc_iframe_body_alt tr.rc_highlight,
.rc_iframe_body_alt tr.rc_highlight td {
	border: 1px solid #99ccff;
	background: #99ccff;
}

.rc_iframe_body_alt tr.rc_highlight td.rc_highlight {
	background: #66ff66;
	border: 1px solid #9999ff;
}

/* alt skin */


.helpmenu{
	overflow: hidden;
	width: 250px;
}

.helpmenu ul{
	margin: 0;
	float: left;
	width: 250px;
	font: bold 13px Arial;
	list-style-position: outside;
	list-style-image: url(/app_img/arrow.gif);
	list-style-type: square;
}

.helpmenu ul li{
	padding: 5px 5px 5px 5px;
}

.helpmenu ul li a{
	color: #68ADCA;
	text-decoration: none;
}

.helpmenu ul li a:hover {
	color: #f7941d;
}


#thumbBox{ /*Outermost DIV for thumbnail viewer*/
position: absolute;
left: 0;
top: 0;
width: auto;
padding: 10px;
padding-bottom: 0;
background: #313131;
visibility: hidden;
z-index: 10;
cursor: hand;
cursor: pointer;
}

#thumbBox .footerbar{ /*Footer DIV of thumbbox that contains "close" link */
font: bold 16px Tahoma;
letter-spacing: 5px;
line-height: 1.1em;
color: white;
padding: 5px 0;
text-align: right;
}


#thumbBox #thumbImage{ /*DIV within thumbbox that holds the enlarged image */
background-color: white;
}

#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
position: absolute;
visibility: hidden;
border: 1px solid black;
background-color: #EFEFEF;
padding: 5px;
z-index: 5;
}


.tablescroll
{ font: 12px normal Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; background-color:#fff; }

.tablescroll td, 
.tablescroll_wrapper,
.tablescroll_head,
.tablescroll_foot
{ border:1px solid #ccc; }

.tablescroll td
{ padding:3px 5px; }

.tablescroll_wrapper
{ border-left:0; }

.tablescroll_head
{ font-size:11px; font-weight:bold; background-color:#eee; border-left:0; border-top:0; margin-bottom:3px; }

.tablescroll thead td
{ border-right:0; border-bottom:0; }

.tablescroll tbody td
{ border-right:0; border-bottom:0; }

.tablescroll tbody tr.first td
{ border-top:0; }

.tablescroll_foot
{ font-weight:bold; background-color:#eee; border-left:0; border-top:0; margin-top:3px; }

.tablescroll tfoot td
{ border-right:0; border-bottom:0; }

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }


#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #CCC url(/app_img/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	background: 16px 16px no-repeat url(/app_img/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.alert {
	background-image: url(/app_img/info.gif);
}

#popup_content.confirm {
	background-image: url(/app_img/important.gif);
}

#popup_content.prompt {
	background-image: url(/app_img/help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}

/* Custom dialog styles */
#popup_container.style_1 {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #cccccc;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_container.style_1 #popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #333333;
	background: #ff6666 url(/app_img/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_container.style_1 #popup_content {
	background: 16px 16px no-repeat url(/app_img/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_container.style_1 #popup_message {
	padding-left: 48px;
}


#popup_container.style_email_popup {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 400px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #cccccc;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_container.style_email_popup #popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #333333;
	background: #ff6666 url(/app_img/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_container.style_email_popup #popup_content {
	background: 16px 16px no-repeat;
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_container.style_email_popup #popup_message {
	padding-left: 48px;
}

.errorMessage li {
	list-style-type: none;
}

.dojoxGridMasterHeader {
	position: relative;
    font-size: 12px;
}

td.headerSortUp { 
    background-image: url(/app_img/table/sortAsc.gif) !important;
    cursor: pointer !important;
    background-repeat: no-repeat  !important;
    background-position: center right !important; 
    margin-right: 5px !important;
    border-right: 1px solid #dad9c7 !important; 
}

td.headerSortDown { 
    background-image: url(/app_img/table/sortDesc.gif)  !important;
    cursor: pointer !important;
    background-repeat: no-repeat !important;
    background-position: center right !important;
    margin-right: 5px !important;
    border-right: 1px solid #dad9c7 !important; 
}

.messaggioDiv {
	font-size:14px; 
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	color:#000;
}

.messaggioOriginaleDiv {
	font-size:12px; 
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	font-style:italic;
	color:#000;
	border: solid 1px #FFF;
}

